.App {
  text-align: center;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAA1BMVEXk5OSU5FUvAAAAR0lEQVR4nO3BAQ0AAADCoPdPbQ8HFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPBgxUwAAU+n3sIAAAAASUVORK5CYII=");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-central {
  width: 150px;

  /* margin-top: 10px;
  margin-left: 10px; */
  /* background-image: url("./image/logo-sin-fondo.png"); */
}

.foto1 {
  background-image: url("./image/CanchaBasquet.png");
  width: 70px;
  margin-top: 10px;
  margin-left: 10px;
}

.foto2 {
  background-image: url("./image/cancha-basquet.png");
  width: 70px;
  margin-top: 10px;
  margin-left: 10px;
}
.contacto {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background: #d63d3d;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #dd4949;
}
.contenedor1 {
  margin: 5px;
  padding: 3px 10px;
  border: rgb(188, 24, 38) 5px solid;
  border-radius: 20px;
  background-image: url("https://us.123rf.com/450wm/julydfg/julydfg1104/julydfg110400068/9410382-textura-de-pelota-de-baloncesto-ilustraci%C3%B3n-vectorial-.jpg");
}
.contenedor2 {
  margin: 5px;
  padding: 3px 10px;
  border: rgb(188, 24, 38) 5px solid;
  border-radius: 20px;
  background-image: url("https://us.123rf.com/450wm/julydfg/julydfg1104/julydfg110400068/9410382-textura-de-pelota-de-baloncesto-ilustraci%C3%B3n-vectorial-.jpg");
}
.contenedor3 {
  margin: 5px;
  padding: 3px 10px;
  border: rgb(188, 24, 38) 5px solid;
  border-radius: 20px;
  background-image: url("https://us.123rf.com/450wm/julydfg/julydfg1104/julydfg110400068/9410382-textura-de-pelota-de-baloncesto-ilustraci%C3%B3n-vectorial-.jpg");
}
footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(172, 162, 162);
}
.separar {
  padding-top: 100px;
}
.cel {
  text-align: left;
  color: white;
  margin-left: 40px;
}
.link {
  color: #ffffff;
  text-decoration: none;
}
.container-fluid {

  background-image: url("./image/parquet2.jpg");
  
}
.title {
  background-color: rgba(255, 255, 255, 0.553);
  font-size: xx-large;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  margin-top: 10px;
}
.subtitle {
  color: white;
  font-size: larger;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  margin-top: 10px;
}
